<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/todo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Todo_list</title>
</head>
<body>
<!------전체를 감싸는 container------->    
 <div class="container">
<!------------header----------------->        
 <header id="intro">
   <h1>
    django Todo list
   </h1>
  </header>    
<!------------ main ----------------->
 <main role="main" id="main">
  <div class="input">
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn-add" type="submit">추가</button>
    </form>
  </div> 


    {% for todo in todos %}
    <p></p> <!-- 태그를 넣어야 한주로 정렬됨-->
  <div class="task">
  
    <p>{{ todo.task }}    |
        <button type="button" class="btn_del" onclick=location.href="{% url 'todo_del' pk=todo.pk %}"  >삭제</button>
        <button type="button" class="btn_com" onclick=location.href="{% url 'todo_done' pk=todo.pk %}" >완료</button></p>
  </div>
    
    {% endfor %}

 </main>
<!------------footer-------------->
 <footer id="footer">
  <div class="copyright">
     <p>Copyright&copy; April 2020 All right reserved </p>
  </div>
 </footer>

 </div>
</body>
</html>