<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/todo.css">
    <title>Todo_list</title>
</head>
<body>

<div class="center-col">
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn-add" type="submit">추가</button>
    </form>
    {% for todo in todos %}
    <p>{{ todo.task }} | 
        <a class="btn-del" href="{% url 'todo_del' pk=todo.pk %}" >삭제</a>
        <a class="btn-com" href="{% url 'todo_done' pk=todo.pk %}">완료</a></p>
    

    
    {% endfor %}
</div>  

</body>
</html>