.container {
    width: 960px;
    margin: 0 auto;

}


#intro {
    height: 70px;
    background-color: turquoise;
    margin: 0;
}

#intro h1 {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    color: #fff;
}


.main {
    text-align: center;
}


.input {
    border: 10px;
    background-color: #00cdcf;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.btn-add {
    background-color: #00B4B5;
    box-sizing: border-box;
    color: #fff;
    border: none;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;

}

.task {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0 0 20px;
    width: 50%;
}

.btn_del {
    display: float;



}

.btn_com {

}


#footer {
   
    padding: 100px 0 0 50px;
    text-align: center;

}

